/* .transform{
    width: 200px;
    height: 150px;
    background-color: black;
}
.transform-child{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    transform: translate(80px,50px);
} */
/* p2 */
/* .transform{
    width: 200px;
    height: 200px;
    margin: 80px auto;
    border: 5px dashed blue;
    border-radius: 50%;
    transition: transform 8s ;
}
.transform:hover{
    transform: rotate(-360deg);
}
.transform-child{
    width: 150px;
    height: 150px;
    margin: 20px auto;
    border: 5px dashed rgba(20, 140, 112, 0.17);
    border-radius: 50%;
    transition: transform  ;
}
.transform-child:hover{
    transform: rotate(-360deg);
} */
/* p3 */
/* .transform{
    width: 20px;
    height: 20px;
    background-color: chartreuse;
    animation-name: change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    position: relative;
    margin: 200px auto;
}
@keyframes change{
    0%{
        background-color: chartreuse;
        top: 0;
        left: 0;
    }
    25%{
        background-color: lightcoral;
        top: 0;
        left: 50px;
    }
    50%{
        background-color: lightblue;
        top: 50px;
        left: 50px ;    
    }
    75%{
        background-color: lightseagreen;
        top: 50px;
        left: 0;
    }
    100%{
        background-color: chartreuse;
        top: 0;
        left: 0;
    }
} */
/* p4 */
