* {
    font-family: 'Roboto Condensed', sans-serif;
}

@media only screen and (min-width:300px) {
    .responsive {
        display: inline;
        background-color: aquamarine;
        color: rgb(43, 70, 226);
    }
}

#intro {
    background-color: rgb(41, 57, 52);
    width: 100%;
    height: 100%;
}